<html>
  <head>
    <title>Zombies</title>
    <link href='../public/css/application.css' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../public/js/underscore.js"></script>
    <script src="../public/js/mousetrap.js"></script>
    <script src="../public/js/rick.js"></script>
    <script src="../public/js/zombie.js"></script>
    <script src="../public/js/gun.js"></script>
    <script src="../public/js/game.js"></script>
  </head>

  <body>
    <div id="arena">
    </div>
    Seconds since game started: <span id="timer">0</span>
  </body>
</html>
