#port_authority {
  width: 1000;
  height: 850;
  border: 6px solid #000;
}

.grey {
  background-color: grey;
}

.character {
  position: absolute;
  width: 200px;
  height: 260px;
  background-repeat: no-repeat;
}

.rick {
  background-image: url("../image/images-1.png");
}

.zombie {
  background-image: url("../image/zombie-gif.gif");
}
